.Info{
    border-radius: 2vw;
    margin: 1.5vw 0.5vw;
    margin-left: 1vw;
    padding:1vw;
    background: white;
    box-shadow:0.2vw 0.2vw rgb(225, 223, 223,0.1) ;
    /* border: 0.2vw gray solid; */
}
.info-title{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.info-title svg{
    cursor: pointer;
}
.profile-info{
    display: flex;
    flex-direction: column;
}
.status h4,.status p{
    margin: 0vw;
    font-size: 1vw;
}
.status{
    display: flex;
    align-items: center;
    margin-top:0.5vw;
    gap: 0.5vw;
}
.log-out{
    margin-top: 5vw;
    background: linear-gradient(50deg,rgb(5, 101, 255),rgb(9, 173, 244) 100%);
    align-self: flex-end;
    padding: 0.5vw 1.5vw;
    border-radius: 0.5vw;
    color: white;
    cursor: pointer;
    border: 0.1vw transparent solid;
}
.log-out:hover{
    cursor: pointer;
    color: rgb(5, 101, 255);
    background: transparent;
    border: 0.1vw rgb(5, 101, 255) solid;
}
@media only screen and (max-width:1024px) {
    .log-out{
        margin-top: 3vw;
    }
}
@media only screen and (max-width:768px) {
    .log-out{
        font-size: 1.5vw;
    }
    .info-title svg{
        width: 2.5vw;
        height: 2.5vw;
    }
    .info-title{
        font-size: 1.8vw;
    }
    .status h4,.status p{
        margin: 0vw;
        font-size: 1.2vw;
    }

}